.header-container {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 'marquee' 'main';
  width: 100%;
  --header-height: 10rem;
  height: var(--header-height);
  z-index: 9999;
}

.header {
  grid-area: 'main';
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: 'title' 'content' 'menu';
  background-color: var(--secondary-color);
  z-index: 9999;
}

.title {
  grid-area: 'title';
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  --font-size: 2rem;
  z-index: 9999;
}

.title > span {
  font-size: var(--font-size);
  font-family: var(--bold-text-font-family);
  font-weight: 900;
  letter-spacing: 2px;
}

.content {
  grid-area: 'content';
}

.menu {
  grid-area: 'menu';
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  border: none;
  padding-top: 5px;
  padding-right: 1.5rem;
  background: transparent;
}

.sidebar {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: 'content' 'footer';
  width: 0;
  height: calc(100vh - 3rem);
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding-top: var(--header-height);
  overflow: hidden;
  background-color: var(--tertiary-color);
}

.sidebar-content {
  grid-area: 'content';
}

.sidebar-footer {
  grid-area: 'footer';
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: var(--header-height);
}

.footer-note {
  display: inline-block;
  color: var(--note-text-color);
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
}

ul {
  margin-top: 10rem;
}

li {
  list-style: none;
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2rem;
  margin-bottom: 5rem;
  font-family: var(--bold-text-font-family);
  font-weight: 700;
  font-size: 3rem;
}

.ticker {
  grid-area: 'marquee';
  height: 3rem;
  font-family: 'Syne', sans-serif;
  font-weight: 800;
  background-color: var(--accent-text-color);
}

.circle {
  width: calc(1 * var(--font-size));
  height: calc(0.75 * var(--font-size));
  border-radius: 99px;
  background-color: var(--note-text-color);
}

.link {
  text-decoration: underline;
}

.link:visited {
  color: inherit;
}